<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="{{ org.name }}"/>
    <style type="text/css">
        body {
            padding: 100px;
        }

        a {
            color: #748094;
        }

        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        table {
            width: 80%;
            border-collapse: collapse;
        }

        tr td:first-child {
            font-weight: bold;
            width: 300px;
        }

        td {
            padding: 5px;
            border: 1px solid black;
        }

        td.risk-low {
            background-color: green;
            color: white;
        }

        td.risk-medium {
            background-color: yellow;
            color: black;
        }

        td.risk-high {
            background-color: orange;
            color: white;
        }

        td.risk-critical {
            background-color: darkred;
            color: white;
        }

        .new-page-separator {
            page-break-before: always;
        }

    </style>
</head>

<body>

<div style="break-after:page"></div>

<h3>{{ project.name }}</h3>
<p>{{ project.description }}</p>

{% if configuration.include_revisions_table and reports %}
    <h2>Version control</h2>

    <table>
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for version in reports %}
            <tr>
                <td>{{ version.insert_ts }}</td>
                <td>{{ version.version_name }}</td>
                <td>{{ version.version_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div style="break-after:page"></div>

{% if configuration.include_team_bios and users %}
    <h2><a name="pentesting-team">Pentesting team</a></h2>

    <table>
        <tbody>
        {% for user in users %}
            <td style="border: 0; width: 60px;"><img style="width: 50px;"
                                                     src="https://www.gravatar.com/avatar/46d229b033af06a191ff2267bca9ae56?s=200&d=robohash"/>
            </td>
            <td style="border: 0;">
                <h3>{{ user.full_name }}</h3>
                <p>{{ user.short_bio }}</p>
            </td>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if targets %}
    <div style="break-after:page"></div>
    <h2><a name="targets">Targets</a></h2>

    <ul>
        {% for target in targets %}
            <li><strong>{{ target.name }}</strong> ({{ target.kind }})</li>
        {% endfor %}
    </ul>
{% endif %}

<div style="break-after:page"></div>

{% if configuration.include_findings_overview %}
    <h2><a name="findings-overview">Findings overview</a></h2>

    <table>
        <thead>
        <tr>
            <th>Severity</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for item in findingsOverview %}
            <tr>
                <td class="risk-{{ item.severity }}">{{ item.severity|capitalize }}</td>
                <td>{{ item.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div style="break-after:page"></div>
<h2>Vulnerabilities</h2>

<div>
    {% for vulnerability in vulnerabilities %}
        <h3>{{ vulnerability.summary }}</h3>

        <table>
            <tbody>
            <tr>
                <td>Severity</td>
                <td class="risk-{{ vulnerability.risk }}">{{ vulnerability.risk|capitalize }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ vulnerability.category_name ?? '(undefined)' }}</td>
            </tr>
            <tr>
                <td>CVSS score</td>
                <td>{% if vulnerability.cvss_vector %}
                        <a href="https://www.first.org/cvss/calculator/3.0#{{ vulnerability.cvss_vector }}">{{ vulnerability.cvss_score }}</a>
                    {% else %}
                        (undefined)
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <p>{{ markdownParser.text(vulnerability.description)|raw }}</p>
    {% endfor %}
</div>

</body>
</html>
