<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="{{ org.name }}"/>
    <style type="text/css">
        
        body{
            margin-top: 25.4mm;
            margin-left: 31.7mm;
            margin-right: 31.7mm;
            font-size: 9pt;
        }

        a {
            color: #748094;
        }

        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        h2{
            margin-top: 1cm;
            border-bottom: 1px solid #748094;
            padding-bottom: .25cm;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 3px;
        }
        table  th {
            padding: 8px;
            /*background-color: #f4f4f4;*/

        }

        tr td:first-child {
            font-weight: bold;
            width: 300px;
        }

        td {
            padding: 8px;
            border: 1px solid #c3c3c3;
        }

        td.risk-low {
            background-color: #579F6E;
            color: white;
        }

        td.risk-medium {
            background-color: #FFFC84;
            color: #2E2D22;
        }

        td.risk-high {
            background-color: #FEC022;
            color: white;
        }

        td.risk-critical {
            background-color: #E56E6A;
            color: white;
        }

        .new-page-separator {
            page-break-before: always;
        }

    </style>
</head>

<body>

<div style="break-after:page;page-break-after: always;"></div>


<h1>{{ project.name }}</h1>
<p>{{ project.description }}</p>
<hr >

{% if configuration.include_revisions_table and reports %}
    <h2>Version control</h2>

    <table>
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for version in reports %}
            <tr>
                <td>{{ version.insert_ts }}</td>
                <td>{{ version.version_name }}</td>
                <td>{{ version.version_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div style="break-after:page;page-break-after: always;"></div>

{% if configuration.include_team_bios and users %}
    <h2><a name="pentesting-team">Pentesting team</a></h2>

    <table>
        <tbody>
        {% for user in users %}
            <tr>
                <td style="border: 0; width: 60px; padding-bottom: 8px;">
                <img style="width: 50px;" src="https://www.gravatar.com/avatar/46d229b033af06a191ff2267bca9ae56?s=200&d=robohash"/>
                </td>
                <td style="border: 0;">
                    <h3>{{ user.full_name }}</h3>
                    <p>{{ user.short_bio }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if targets %}
    <div style="break-after:page;page-break-after: always;"></div>

    <h2><a name="targets">Targets</a></h2>

    <ul>
        {% for target in targets %}
            <li><strong>{{ target.name }}</strong> ({{ target.kind }})</li>
        {% endfor %}
    </ul>
{% endif %}

<div style="break-after:page;page-break-after: always;"></div>


{% if configuration.include_findings_overview %}
    <h2><a name="findings-overview">Findings overview</a></h2>

    <table>
        <thead>
        <tr>
            <th>Severity</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for item in findingsOverview %}
            <tr>
                <td class="risk-{{ item.severity }}">{{ item.severity|capitalize }}</td>
                <td>{{ item.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div style="break-after:page;page-break-after: always;"></div>

<h2>Vulnerabilities</h2>

<div>
    {% for vulnerability in vulnerabilities %}
        <h3>{{ vulnerability.summary }}</h3>

        <table>
            <tbody>
            <tr>
                <td>Severity</td>
                <td class="risk-{{ vulnerability.risk }}">{{ vulnerability.risk|capitalize }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ vulnerability.category_name ?? '(undefined)' }}</td>
            </tr>
            <tr>
                <td>CVSS score</td>
                <td>{% if vulnerability.cvss_vector %}
                        <a href="https://www.first.org/cvss/calculator/3.0#{{ vulnerability.cvss_vector }}">{{ vulnerability.cvss_score }}</a>
                    {% else %}
                        (undefined)
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <p>{{ markdownParser.text(vulnerability.description)|raw }}</p>
    {% endfor %}
</div>

</body>
</html>
